{% extends 'layout.html' %}

{% block content %}
<div class="">
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  {% endfor %}


    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.incomeSource.label }}
        {{ form.incomeSource }}
        <br/>
        {{ form.incomeAmount.label }}
        {{ form.incomeAmount }}
        <br/>
        {{ form.incomeDate.label }}
        {{ form.incomeDate }}
        <br/>
        {{ form.submit() }}
    </form>
    <br/><br/><br/>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Income List</h6>
      </div>

      <div class="card-body">
      {% for our_income in our_income %}
          {{ our_income.id }}. {{ our_income.incomeSource }} - ${{ our_income.incomeAmount }} - {{ our_income.incomeDate }}<br/>
      {% endfor %}
      </div>
  </div>

</div>


    </div>
</div>

{% endblock content %}